* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #ff00ff;
  padding: 30px 20px;
  justify-content: flex-end;
}

.header > div {
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
  background-color: #fbb3ff;
}

.header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 300px;
  background-color: #d8ffb6;
}

.main-right {
  flex-wrap: wrap;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: #00b522;
}

.main-right > div {
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #fff75a;
}

.footer {
  display: flex;
  background-color: #52a1ff;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer > div {
  width: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #b6e7ff;
}